/*Einbinden von lokalen Fonts*/
@font-face {
    font-family: 'Coffee+Tea';
    src: url('font/coffee+teademo-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Love';
    src: url('font/Love.ttf') format('truetype');
}

@font-face {
    font-family: 'Open Sans';
    src: url('font/OpenSans-VariableFont_wdth,wght.ttf') format('truetype');
}

body,
h1,
h2,
h3,
p,
ul,
li {
    margin: 0;
    padding: 0;
}

/*Titel des Pop-Up*/
.section-title {
    font-family: 'Coffee+Tea';
    font-size: 40px;
    text-align: left;
    margin-top: 12px;
    margin-bottom: 40px;
}

/*Div-Container einer Speise/Getränks (Bild + Text)*/
.menu-item {
    margin-bottom: 40px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

/*Bilder in den Pop-Ups*/
.menu-item-image,
.item-image {
    flex: 0 0 100%;
    max-width: 100px;
    max-height: 100px;
    margin-right: 40px;
    margin-bottom: 12px;
}

/*Bilder für die Speisekarte sind rund*/
.menu-item-image img {
    width: 100%;
    height: auto;
    border-radius: 50%;
}

/*Bilder für Öffnungszeiten/Kontakt sind quadratförmig*/
.item-image img {
    width: 100%;
    height: auto;
}

/*Div Container für Titel, Beschreibung und Preis von Getränk/Speise*/
.menu-item-details {
    flex: 1;
}

/*Div Container für Titel und Preis, damit Titel und Preis jeweils einheitlich untereinander stehen*/
.menu-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

/*Titel der Speise/Getränk*/
.menu-item-title {
    font-family: 'Coffee+Tea';
    font-size: 26px;
    margin-bottom: 16px;
}

/*Beschreibung der Speise/Getränk*/
.menu-item-description {
    font-family: 'Open Sans';
    font-size: 18px;
    margin-bottom: 12px;
}

/*Preis der Speise/Getränk*/
.menu-item-price {
    font-family: 'Love';
    font-size: 20px;
    font-weight: bold;
    text-align: right;
}

/*Gestaltung des Pop-Up Menüs*/
.popup {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 35%;
    max-height: 70%;
    overflow-y: auto;
    padding: 40px;
    background-color: #fffbf4;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    z-index: 9999;
}

/*Button zum Schließen des Pop-Ups*/
.close-btn {
    position: sticky;
    top: 0;
    right: 0;
    float: right;
    font-size: 2em;
    cursor: pointer;
}

/*Hintergrundbild*/
.background-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    transition: background-image 0.01s ease-in-out;
    background-size: cover;
}

/*Hovern*/
.hover-area,
.hover-area-box {
    position: absolute;
    background-repeat: no-repeat;
    background-size: contain;
    transition: filter 0.1s;
}

/*Bei Hovern über Seasonal/Coffee/Tea/Beverage leuchten die Bilder auf*/
.hover-area:hover {
    cursor: help;
    filter: drop-shadow(0 0 32px rgb(255, 255, 255));
}

/*Bei Hovern über den Namen des Cafés und der Desserts leuchten sie auf*/
.hover-area-box:hover {
    cursor: help;
    box-shadow: 0 0 28px rgb(230, 139, 139);
}

/*Seasonal Bild eingefügt*/
.seasonal-hover {
    top: 6%;
    left: 7%;
    width: 10%;
    height: 37%;
    background-image: url("img/parfait.png");
}

/*Coffee Bild eingefügt*/
.coffee-hover {
    top: 10%;
    left: 40%;
    width: 12%;
    height: 25%;
    background-image: url("img/coffee.png");
}

/*Tea Bild eingefügt*/
.tea-hover {
    top: 14%;
    left: 59%;
    width: 13%;
    height: 20%;
    background-image: url("img/tea.png");
}

/*Beverage Bild eingefügt*/
.beverage-hover {
    top: 7%;
    left: 79%;
    width: 9%;
    height: 28%;
    background-image: url("img/beverage.png");
}

/*Über die Desserts ein unsichtbares anklickbares Feld eingefügt*/
.dessert-hover {
    top: 42%;
    left: 47.7%;
    width: 48.4%;
    height: 56.7%;
}

/*Über den Namen ein unsichtbares anklickbares Feld eingefügt*/
.name-hover {
    top: 83.2%;
    left: 4.4%;
    width: 36.1%;
    height: 15.5%;
}